{% extends 'FrontOfficeBundle::layout.html.twig' %}

    {% block content %}

        <div style ="width:650px;margin:auto;text-align:justify;background-color:white;padding:15px">
            <h3 style="text-align:center;">Conditions Générales de vente :</h3>
            <p> Aliquam maximus lorem eros, eget pretium arcu vehicula ut. Vestibulum iaculis egestas dolor, vel facilisis mi tempor nec
                In hac habitasse platea dictumst. Nam nec lacinia magna. Maecenas porta odio mi, sed egestas metus vehicula a.
                Aliquam faucibus auctor nisl, eu dignissim ante. Pellentesque libero purus, viverra eu condimentum id,
                vulputate blandit erat. In sed ipsum sed lectus bibendum fringilla ut vitae dolor.<br>
                Maecenas mollis odio ac eros iaculis fringilla eget ut erat. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia Curae; Quisque arcu dui, convallis a rutrum eu, hendrerit nec nisi. Nulla scelerisque
                fringilla mauris, a feugiat sapien dapibus vitae. Curabitur faucibus vel urna sed euismod. Cum sociis natoque penatibus
                et magnis dis parturient montes, nascetur ridiculus mus. Aenean consectetur mi vitae elit ultricies sollicitudin.
                In augue massa, semper in facilisis et, tempor eget nulla.
            </p>
        </div>

    {% endblock %}