{%  extends 'BackOfficeBundle::layout.html.twig' %}

    {% block content %}


        <div class="row">
        <div class="col-lg-12" style="text-align:center;">

                            <h3>Complétez le formulaire ci-dessous :</h3>

                                {{ form(formArea) }}

                        </div>
        </div>

    {% endblock %}