{%  extends 'BackOfficeBundle::layout.html.twig' %}

    {% block content %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align:left;">
                    <hr>
                    <hr>
                    <h3>Complétez le formulaire ci-dessous :</h3>

                        {{ form(formEditArea) }}

                </div>
            </div>
        </div>

    {% endblock %}